<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>vuejs-tutorial</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
  <div id="app">
    <h1 v-if="ok">Yes</h1>
    <h1 v-else>No</h1>

    <template v-if="ok">
      <h1>Title</h1>
      <p>Paragraph 1</p>
      <p>Paragraph 2</p>
    </template>

    <div v-if="Math.random() > 0.7">
      A
    </div>
    <div v-else-if="Math.random() > 0.5">
      B
    </div>
    <div v-else>
      C
    </div>

    <h1 v-show="ok">Hello!</h1>
  </div>
  <script src="index.js"></script>
</body>
</html>
